@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

body {
    background-color: #f8f8f8;
    text-align: center;
}

.menu a,
#your_msg,
#backform,
#adrs {
    color: firebrick;
    font-family: 'Kurale', serif;
    font-size: 20px;
    font-weight: 900;
}

.menu li {
    list-style: none;
    display: inline;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5%;
}

.menu li:nth-child(2) {
    margin: 80px;
}

#head_name {
    font-family: 'Monoton', cursive;
    font-size: 60px;
}

#index_img {
    width: 800px;
    height: 400px;
}

#logo_gs {
    background-color: white;
    border-radius: 5%;
    opacity: 0.8;
    margin-right: 10px;
}

.index_page #logo_gs {
    margin-left: 50px;
    margin-top: 1px;
}

.prod_page h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short_dsc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    overflow: hidden;
    width: 800px;
    padding: 50px;
}

.full_dsc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0 50px 30px;
}

.prod_page {
    list-style-image: url(../images/dscmrk.png);
    list-style-position: inside;
}

.prod_param li {
    font-family: 'Kurale', serif;
    font-size: 14px;
    color: rebeccapurple;
    text-align: center;
}

.prod_img {
    border-style: double;
    border-color: black;
    border-radius: 5px;
    width: 215px;
    height: 300px;
    
}

.prod_img:hover {
    border-color: transparent;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
}

script {
    background-color: transparent;
}

.menu ul {
    padding: 0;
}

.catalog a {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 15px;
}

input[name="user_name"],
[name="user_email"],
[name="message_theme"] {
    height: 25px;
    width: 300px;
    font-size: 17px;
}

#msg_contentid {
    height: 200px;
    width: 600px;
    font-size: 13px;
}

.menu a:hover {
    color: lawngreen;
}

.index_apge #logo_gs {
    margin-left: 50px;
}

#email:focus {
    background-color: darkseagreen;
}

#backform_set input,
textarea {
    text-transform: capitalize;
    font-family: 'Kurale', serif;
    background-color: beige;
    color: brown;
    font-weight: bold;
}

#table,
table td {
    border: 2px solid black;
    border-collapse: collapse;
}

#table {
    margin: auto;
    font-size: 16px;
    font-weight: 700;
}

td {
    padding: 20px 10px;
}

.prod_page p:first-letter {
    font-size: 24px;
    color: red;
}

td:first-child {
    background-color: indianred;
}

#sndbtn {
    font-size: 20px;
}

.index_page .container {
    width: 1000px;
    margin: 0 auto;
}

.index_page .header {
    height: 210px;
    text-align: left;
}

.index_page .menu {
    float: right;
    margin-top: 80px;
}

.footer {
    height: 60px;
    background-color: #f3e5e5;
    padding: 20px 50px 0 0;
    text-align: right;
}

.img_ref {
    margin-left: 400px;
    margin-bottom: 50px;
    float: left;
}

.first_pblock {
    clear: both;
}

.prod_param {
    clear: both;
}

.buy_btn {
    width: 180px;
    height: 40px;
    color: firebrick;
    font-family: 'Kurale', serif;
    font-size: 25px;
    font-weight: 900;
    background-color: yellow;
    border-style: double;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    padding-top: 20px;
}

.buy_btn:hover {
    color: #eaeaea;
    background-color: firebrick;
}

.buy_btn:active {
    background-color: black;
}

.catalog div {
    display: inline-block;
    margin: 20px 50px;
}

.header {
    background-image: url(../images/longimg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.catalog a{
    color: firebrick;
}

.catalog a:visited{
    color: darkorange;
}

