@font-face {
    font-family: "Raleway Black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
    font-family: "Raleway Extra Bold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    background: linear-gradient(to bottom, rgba(219, 238, 242, 1) 0%, rgba(143, 201, 212, 1) 100%);
}

.headerBlock {
    top: -1px;
    height: 700px;
    background: url("../images/indexBack.jpg");
    background-size: cover;
}

.headerContent {
    width: 1170px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    width: 125px;
    height: 111px;
    left: 69px;
    top: 24px;
    background: url("../images/surfhouse_logo.png");
}

.socIncons {
    width: 30px;
    position: absolute;
    left: 990px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 1.33333em;
}

.socIncons i {
    color: white;
    margin: 0 6px;
}

.welcomeBox {
    position: absolute;
    width: 270px;
    height: 300px;
    top: 336px;
    background: #FFF51F;
    padding: 82px 25px 0 25px;
    box-sizing: border-box;
    color: #333333;
}

.welcomeHeader {
    position: absolute;
    left: 26px;
    top: 83px;
    font-family: "Raleway Bold", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
}

.welcomeText {
    position: absolute;
    width: 240px;
    height: 56px;
    left: 23px;
    top: 161px;
    right: 30px;
    font-family: "Raleway Bold Italic", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 14px;
}

.newsBlock {
    position: absolute;
    width: 313px;
    height: 169px;
    left: 1265px;
    top: 250px;
    color: #FFF51F;
}

.newsHeader {
    font-family: "Raleway Extra Bold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 34px;
}

.newsText {
    font-family: "Raleway Regular", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}

.buyNowBtn {
    position: absolute;
    width: 124px;
    height: 49px;
    background: #FFF51F;
    text-align: center;
    margin-top: 61px;
}

.buyNowBtn a {
    position: absolute;
    width: 68px;
    height: 50px;
    padding: 0 29px;
    font-family: "Raleway Black", sans-serif;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.contentBlock {
    display: block;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.menuBlock {
    float: left;
    width: 270px;
    margin-top: -20px;
}

.menuBlock ul {
    background-color: #26d2fc;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuBlock a {
    display: block;
    height: 43px;
    line-height: 43px;
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 0 40px;
}

#menuBtn {
    width: 270px;
    height: 66px;
    background-color: #333333;
    padding: 0;
}

#menuBtn a {
    color: white;
}

.menuBlock a:hover {
    background-color: #333;
    color: #fff;
}

.menuFootImage {
    margin-top: 30px;
    height: 300px;
    border: 10px solid white;
    box-sizing: border-box;
    position: relative;
    background: url("../images/store.jpg");
    width: 100%;
}

.nowOpen {
    position: absolute;
    font-family: "Raleway Black Italic", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    top: 129px;
    left: 142px;
    color: #333;
}

.productsCatalog {
    float: right;
    width: 870px;
    margin-top: -20px;
}

.newProd, .topProd, .saleProd {
    background: #f8f8f8;
    width: 799px;
    height: 78px;
}

.newProd, .topProd, .saleProd span {
    color: #707070;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 78px;
}

.productItem {
    width: 270px;
    height: 320px;
    background: #f8f8f8;
    margin: 30px 15px 0 0;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.prodImg {
    width: 250px;
    height: 235px;
    margin-bottom: 20px;
}

.prodName {
    width: 155px;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 14px;
    color: #333;
    float: left;
}

.prodPrice, .oldPrice {
    float: right;
    font-family: "Roboto Black Italic", sans-serif;
    color: #333;
    text-align: right;
    overflow: hidden;
}

.topProd, .saleProd {
    margin-top: 25px;
}

.saleProd {
    width: 848px;
}

.oldPrice {
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 120px;
    float: right;
}

.brandsBlock {
    position: relative;
    top: 30px;
    clear: both;
    height: 160px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
    width: 1150px;
}

.instaHead {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Black Italic", sans-serif;
}

.instaWrap {
    height: 350px;
    background-color: #eaeaea;
    padding-top: 50px;
    box-sizing: border-box;
    width: 1150px;
}

.instaHead i {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.instaContent {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.instaContent img {
    border: 8px solid #fff;
}

.socNetBtns {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 150px;
}

.socNetBtns a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: inherit;
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
}

.socNetBtns a:first-child {
    background-color: #3b5997;
}

.socNetBtns a:nth-child(2) {
    background: lightskyblue;
}

.socNetBtns a:nth-child(3) {
    background: red;
}

.footer {
    background-color: #373737;
    color: #fff;
    height: 390px;
    display: block;
}


.footerInside {
    width: 1150px;
    margin: 0 auto;
    min-height: 343px;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    box-sizing: border-box;
}

.columnHead {
    font-family: "Raleway Extra Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 28px;
}

.columnLinks a {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}

.newsLetter {
    width: 270px;
}

.columnNewsLetter {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
}

.newsLetterText {
    margin-bottom: 31px;
}

.columnNewsLetter input {
    background-color: #fff51f;
    width: 180px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
}

.columnNewsLetter button {
    width: 71px;
    height: 30px;
    background: #000;
    color: #fff;
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
    outline: none;
}

.columnNewsLetter button:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.cardsWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.about {
    width: 232px;
    font-family: "Roboto Regular", sans-serif;
    margin-right: 10px;;
}

.aboutText {
    font-size: 12px;
    text-align: justify;
}

.aboutPhone {
    font-size: 14px;
    margin-top: 14px;
}

.aboutPhone span,
.aboutEmail span {
    margin-right: 10px;
}

.aboutEmail {
    margin-top: 14px;
    color: #faef03;
    font-size: 14px;
}

.footerCopyrights {
    background-color: black;
    height: 50px;
}

.footerCopyrightsInside {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
}

.footerCopySign {
    float: left;
    font-size: 12px;
    font-family: "Roboto Regular", sans-serif;
}

.footerSocials {
    float: right;
    justify-content: space-between;
}

.footerSocials i {
    margin: 0 5px;
}

